<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/jqueryui/jquery-ui.js"></script>
<script src="~/jquery.fancytree/jquery.fancytree-all-deps.js"></script>

<link href="~/jqueryui" rel="stylesheet" />
<link href="~/jquery.fancytree/skin-win8-xxl/ui.fancytree.css" rel="stylesheet" />
@*<link href="~/jquery.fancytree/skin-win8/ui.fancytree.css" rel="stylesheet" />*@
  
  @{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<div id="ViewContents">
    <h1>Folder Contents Page</h1>
@*
    Put PC view here
*@
<div  id="PcContents">
    <div id="nav-tree" data-source="ajax" class="sampletree" style="background-color:red;">
        @*<div id="nav-tree" data-source="ajax" class="sampletree" style="width:25%;background-color:red;">*@
  </div>
@*    <div id="pane-view" style="background-color:aqua;margin-left:25%;"></div>*@
</div>
@*
    Put mobile view here
*@
<div id="MobileContents">
    <div id="PaneView"></div>
</div>
</div>

<script type="text/javascript">
if ($("#nav-tree").length) {
        $("#nav-tree").fancytree({
            tooltip: true,
            source: $.ajax({
                url: "/FolderContents/GetFancyTreeNode",
                dataType: "json",
            }),
            minExpandLevel: 0,
            postinit: function(isReloading, isError) {
                this.reactivate();
            },
            //focus: function(event, data) {
            //    // Auto-activate focused node after 2 seconds
            //    data.node.scheduleAction("activate", 2000);
            //},
            activate: function(event, data) {
                var node = data.node;
                /* Use <a> href and target attributes to load the content:*/
                if( node.data.href ){
                    /*open in same tab*/
                    window.location=node.data.href;
                  /* Open target in NEW Tab */
                  //window.open(node.data.href, node.data.target);
                  /* or open target in iframe */
                  //$("[name=contentFrame]").attr("src", node.data.href);
                }
             },
             lazyLoad: function(event, data) {
              alert(data.node.key);
               data.result = {
                url: "/FolderContents/GetFancyTreeNode",
                data: {
                  key: data.node.key
                },
                cache: true,
              };
            },
        });
    }
</script>