@*
    Use summernote for rich editor. Break up document into pages and save out.
*@
@{
}
<h1>This is file contents page</h1>
<form method="post" asp-controller="FileContents" asp-action="" >
  <textarea id="summernote" name="editordata"></textarea>
</form>
